<% @page_title = notice %>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client %>
</p>

<p>
  <strong>Airport:</strong>
  <%= @project.airport.name %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
