<h1>Listing regions</h1>

<table>
  <thead>
    <tr>
      <th>Region code</th>
      <th>Name</th>
      <th>Country</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= region.region_code %></td>
        <td><%= region.name %></td>
        <td><%= region.country.iso_name %></td>
        <td class="list_actions"><%= link_to 'Show', region %><br/>
        <%= link_to 'Edit', edit_region_path(region) %><br/>
        <%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region', new_region_path %>
